@font-face {
    font-family: "Dodger";
    src: url("../font/dodgv2.ttf");
}
::-webkit-scrollbar {
    width: 9px;
    height: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #DDDDDD;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.left {
    float: left;
}
.clear {
    clear: both;
}
.inline {
    display: inline-block;
    vertical-align: top;
}
.pointer {
    cursor: pointer;
}
.border { 
    border: 1px solid #DDD;
    border-radius: 6px;
}
