.row-fluid
    #Left-Block.span3
        #Logo
        .tabbable
            ul#TabHeader.nav.nav-tabs
                li.dropdown.active
                    a(href='#TableTab', data-toggle="tab") Table
                li
                    a(href='#ExportTab', data-toggle="tab") Export
                li
                    a(href='#SystemTab', data-toggle="tab") System
            #Tree.tab-content
                #TableTab.tab-pane.active
                    .row-fluid
                        .span3.offset1
                            input.btn(type="button", value="New", onclick='indexView.newTableDefine();')
                        .span3
                            input.btn(type="button", value="Import") 
                    p
                    #TableList
                #ExportTab.tab-pane
                    .btn-group.offset1
                        button.btn(
                            onclick='indexView.newExporterDefine();'
                        ) New
                        button.btn.dropdown-toggle(data-toggle='dropdown')
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#'
                                    onclick='exporterDataView.downloadAll();'
                                ) Download All
                            li
                                a(href='#'
                                    onclick='exporterDataView.allToServer();'
                                ) Exporter All To Server
                    p
                    #ExporterList
                #SystemTab.tab-pane
                    .row-fluid
                        .span4.offset1
                            input.btn(type="button", value="Backup", onclick='backupView.backupAll();')
                        .span4
                            input.btn(type="button", value="Restore", onclick='restoreView.renderAll();')
                    p
    #Content.span9
#Footer.row-fluid
    .span3.row-fluid
        #Status.span3
        #OnlineUser.span9
    .span9 A ParaNoidz 2013 Product
#Dialog.modal.fade.hide
